language: python
env:
    global:
    # Doctr deploy key for NSLS-II/NSLS-II.github.io
    - secure: "Nx1KEY+bpmTCffPYKiuN+93RRFKEzhQPGSHSzzs0E4+u9Oii/iAP7N8d5VTHORgPv988/w/t6qeHrJF8W/9BoF2f9KwE1PW6JNGfAkMWScAolOReBRaT9kYLD6m4GqERy8zHCjUynebyG/GVjKVL6szLn5FXVjm85TRlkMlqFAi136Nt9URF2wm+jChe6qgn+MiwKh6P7qB+xHSKAZbh/EIh9zFIWywPy7xCAs18GcWwfOeAXMp+ByMHaIlqtMtj8SPTaRBNmXC+3Sg4WNfr0xxPMGdWX2VfX0DuMYUkWtObchQonVtm/Yqrq3axD5EMkZO7mUHUCGOkdpmhToJ/KWv23+LTMq9Wk1lt3QILqcpqMioT3FTQIR4GzHrgHMVz9g5bvx4oGjGfFfPBQm1eMERZeKAAlnUwKgofyQtOqFFmpvP2lU7n6UzZ5TTOzMGGxZjixagusKYMDxhuv9pk73Ky8JmEl8Yvcg/rGFfdnklohIO6kQS35RdSS4rzFEqc8vKljUF5lXaIxA+y/sw0CGGxXLI6+RG6ww/VX7PLX2OSkXgzmF/aKOtxkVGQXy0USyf63JVsLbGubdx8knkf0wTKaEq7LpHMDk11abmqvktFwHgSGWFPzZpJU96axUPzx7hQpnEDGrVzQ55jt9XUOlsINEj+1cEM8q8/sRdX1O0="
    # Doctr deploy key for bluesky/bluesky.github.io
    - secure: "AV3B8hghRUD1eWFWNbVkNaP4XtiNXjRL5xR1k63DyoIib4w/g8WECnlZYVso8NILykHroJV8KzLqdchEJeXxzyvuCmC/hr5kpqKxl0/aYr5RIpLj0wda4qzi8qFbCK5LUrn37dA8BjtTI76hVCBIPbQf1IJTg+//sLLM9iLNybvV0J/DDwgFFGwTPKRwmgVjwyOlEOYuOQVu9iULOIdjYWNz3O4QtK+YD4cBbU2zoHxDuDjBIhTapt4VM81+VVm78LENL4ziBb3WPmL6s9VsHxL7YOdRr54kriWsd2OPtdHoPMLflkF7oZidLsmI/GBZRCplRPX20eZcYvY9w+wa3SbMCePEpSkqn1qLXIJp+fTHE9xvHrwzegJ3Mzb9U+fs6h+MPtIbXnqH1Vpclwas+PWwSh78+aCcm+SpZ1rTlA/7CGzH9ZmdMsZhcl86iMZkTbsE7P8AzHr17FmvpaWmoUU6Aswa3j3dH/nXXNju39DfRIydks5g7IlV5YzfEVJogXaeBSyqIV4h3ahz9a+oGk2TMhXqLusphQkQEZzcigD80ZUsbFo5H3WEq/Atc31jgBS2cVAruYz+gFkoDXXCjPCGev2yztd6dkESuo1cZUIih2mq5X2OBMkWjSqXlZJyYLpnbYoBwi88zVrU2vRo9n8FkmsmrZqLp7ImJDGTsrc="


install:
  - pip install .
  # Install requirements for building docs.
  - pip install -r requirements-dev.txt

python:
  - 3.6

script:
  - set -e
  - make -C docs html
  - pip install doctr
  - doctr deploy --built-docs docs/build/html --deploy-repo NSLS-II/NSLS-II.github.io suitcase
  - doctr deploy --built-docs docs/build/html --deploy-repo bluesky/bluesky.github.io suitcase
